mixin list(id, ...categories)
	ul(id=id, class="category-list grid-filter", data-related-grid="portfolio-grid")
		each category in categories
			li
				a(data-filter='.' + category, href='#')= category.charAt(0).toUpperCase() + category.slice(1)

mixin mainNav(id, pages)
	ul(id=id)
		each item, page in pages
			li
				a= item[index]

mixin navbar(selected, menus)
	nav#main-nav
		ul
			each menu in menus
				if selected === menu.title
					li.current_page_item
						a(href=menu.address, title=menu.address)= menu.title
						if menu.child.lenght > 0
							+navbar(selected, menu.child)
				else
					li
						a(href=menu.address, title=menu.address)= menu.title
						if menu.child.lenght > 0
							+navbar(selected, menu.child)

mixin lists(nameClass, social)
	ul(class=nameClass)
		each item in social
			li(class=item.title.toLowerCase())
				a(href="#")
